body{
  background-color: lightgrey;
  color: black;
  font-family: 'Spectral SC', serif;
  display: flex;
  flex-direction: row | row-reverse | column | column-reverse;
  text-decoration: underline;
  text-decoration-color: red;



}

.child{
  flex-grow: 1; /* default 0 */
  align-items: center;
  align-items: center;

}

#name {
  font-size: 40px;
  letter-spacing:3px;
}

#population {
  font-size: 20px;
  letter-spacing: 1px;
}
